// @import "../../../../src/styles.scss";
@use "../../../../src/styles.scss" as *;

button {
  background-color: $color-principal;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #fff;
  min-width: 100px;
  margin-top: 1rem;
  align-self: center;
  cursor: pointer;
  transition: 0.2s;
}

@media (min-width: 767px) {
  button:hover {
    background-color: $color-hover;
  }
}
