<section id="alterarSenha">
  <div class="background">
    <div class="modal">
      <i class="fa-solid fa-xmark" (click)="fecharModal()"></i>
      <h3 class="text-link">Alterar senha</h3>
      <form #novaSenhaForm="ngForm" (ngSubmit)="alterarSenha(novaSenhaForm)">
        <div class="form-control">
          <label for="senhaAtual" class="title-form">Senha atual:</label>
          <div class="input-container">
            <i
              [ngClass]="
                verSenha ? 'fa-solid fa-eye' : 'fa-solid fa-eye-low-vision'
              "
              (click)="toggleSenha('senha')"
            ></i>
            <input
              [type]="verSenha ? 'text' : 'password'"
              name="senhaAtual"
              [(ngModel)]="senhaAtual"
            />
          </div>
        </div>
        <div class="form-control">
          <label for="senhaAtual" class="title-form">Nova senha:</label>
          <div class="input-container">
            <i
              [ngClass]="
                verNovaSenha ? 'fa-solid fa-eye' : 'fa-solid fa-eye-low-vision'
              "
              (click)="toggleSenha('novaSenha')"
            ></i>
            <input
              [type]="verNovaSenha ? 'text' : 'password'"
              name="novaSenha"
              [(ngModel)]="novaSenha"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="form-control">
          <label for="senhaAtual" class="title-form">Confirmar senha:</label>
          <div class="input-container">
            <i
              [ngClass]="
                verConfirmaSenha
                  ? 'fa-solid fa-eye'
                  : 'fa-solid fa-eye-low-vision'
              "
              (click)="toggleSenha('confirmaSenha')"
            ></i>
            <input
              [type]="verConfirmaSenha ? 'text' : 'password'"
              name="confirmaSenha"
              [(ngModel)]="confirmarSenha"
            />
          </div>
        </div>
        <div class="form-container">
          <div class="form-control">
            <app-botao-login texto="Alterar"></app-botao-login>
          </div>
          <div class="form-control">
            <app-botao-cancelar (cancelar)="cancelar()"></app-botao-cancelar>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<app-modal
  *ngIf="mostrarModal"
  [mensagem]="mensagemModal"
  [titulo]="tituloModal"
  (fechar)="fecharModalMensagem()"
></app-modal>
