<section id="login">
  <div class="logo-container">
    <img src="assets/alugai.svg" alt="" />
    <h1>AlugAi</h1>
  </div>
  <form #formLogin="ngForm" (ngSubmit)="logar(formLogin)">
    <div class="form-control">
      <span class="title-form">E-mail:</span>
      <input
        type="text"
        aria-label="E-mail"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Digite seu e-mail..."
      />
    </div>
    <a [routerLink]="['/cadastrar']">Novo Usuário</a>
    <div class="form-control">
      <span class="title-form">Senha:</span>
      <input
        type="password"
        aria-label="Senha"
        id="senha"
        name="senha"
        [(ngModel)]="senha"
        placeholder="Digite sua senha..."
      />
    </div>
    <a [routerLink]="['/recuperar-senha']">Esqueceu a senha?</a>
    <app-botao-login texto="Entrar"></app-botao-login>
  </form>

  <div class="background-loading" *ngIf="loading">
    <div class="modal-loading">
      <div class="loading" *ngIf="loading">
        <i class="fa-solid fa-spinner loading"></i>
      </div>
    </div>
  </div>
  <app-modal
    *ngIf="mostrarModal"
    mensagem="{{ mensagemModal }}"
    git
    titulo="{{ tituloModal }}"
    (fechar)="fecharModal()"
    (aberto)="fecharPorTempo()"
  ></app-modal>
</section>
