<app-head
  (voltar)="voltar()"
  [mostrarMenu]="false"
  titulo="Recuperar Senha"
></app-head>
<section id="recover-password" *ngIf="!usuarioEncontrado">
  <form #buscaUsuario="ngForm" (ngSubmit)="buscarUsuario()">
    <div class="form-control">
      <label for="email" class="title-form">E-mail:</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="Digite seu e-mail..."
        [(ngModel)]="email"
      />
    </div>
    <div class="form-control">
      <app-botao-login texto="Buscar"></app-botao-login>
    </div>
  </form>
</section>
<section *ngIf="usuarioEncontrado">
  <form
    #novaSenha="ngForm"
    (ngSubmit)="atualizarSenha()"
    *ngIf="usuarioEncontrado"
  >
    <div class="form-control">
      <label for="novaSenha" class="title-form">Nova senha:</label>
      <div class="input-container">
        <i
          [ngClass]="
            verSenha ? 'fa-solid fa-eye' : 'fa-solid fa-eye-low-vision'
          "
          (click)="toggleSenha('senha')"
        ></i>
        <input
          [type]="verSenha ? 'text' : 'password'"
          name="novaSenha"
          id="novaSenha"
          [(ngModel)]="novaSenha"
        />
      </div>
    </div>
    <div class="form-control">
      <label for="confimarSenha" class="title-form">Nova senha:</label>
      <div class="input-container">
        <i
          (click)="toggleSenha('confirmacao')"
          [ngClass]="
            verConfirmacao ? 'fa-solid fa-eye' : 'fa-solid fa-eye-low-vision'
          "
        ></i>
        <input
          [type]="verConfirmacao ? 'text' : 'password'"
          name="confirmarSenha"
          id="confimarSenha"
          [(ngModel)]="confirmarSenha"
        />
      </div>
    </div>
  </form>
</section>
