<section id="alterarSenha" *ngIf="alterarSenha">
  <div class="background">
    <div class="modal">
      <form #novaSenha="ngForm">
        <div class="form-control">
          <label for="senhaAtual" class="title-form">Senha atual:</label>
          <input type="text" name="senhaAtual" />
        </div>
        <div class="form-control">
          <label for="senhaAtual" class="title-form">Confirmar senha:</label>
          <input type="text" name="confirmaSenha" />
        </div>
      </form>
    </div>
  </div>
</section>
