// @import "../../../../src/styles.scss";
// @import "../../components/head/head.component.scss";

@use "../../../styles.scss" as *;
@use "../../components/head/head.component.scss" as *;

.form-container {
  display: flex;
  align-items: flex-end;
}

section {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
