@use "../../../styles.scss" as *;

button {
  background-color: $color-principal-opacity;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  color: #fff;
  min-width: 100px;
  margin-top: 1rem;
  align-self: center;
  cursor: pointer;

  span {
    color: $color-principal;
  }
}
